# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production
.env.local

# Next.js build output
.next
out

# Angular build output
dist/
tmp/
out-tsc/
bazel-out/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Mac OS
.DS_Store

# Project specific
db/data/
